<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Building management{% endblock %}</title>
  </head>
  <body>
      <h4><a href="/management" id="main-logo">HOME</a></h4>
      <h1>{% block main_heading %} Empire Building International{% endblock %}</h1>
      {% block header_content %}{% endblock %}
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>